@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Lato', sans-serif;
        }
    

    .logocenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Lato', sans-serif;
        width: 300px;
        height: auto;
        }

    .button {
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
          }

    .layoutzdjecie img{
        display: block;
        max-width: 100%;
        height: auto;
    }

    /* dla desktop */
    @media only screen and (min-width: 769px){

        #footerdesktop {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: auto;
            background-color: rgb(1,100,140);
            color: white;
            text-align: center;
            font-family: 'Lato', sans-serif;
            z-index: 10; /* powoduje ze footer jest on top - im wyzszy numer tym bardziej on top*/
            }

        #napisfooterdesktop{
            margin: 0px auto;
            width: 55%;
            text-align: center;
        }

        #nazwiskodesktop{
            width: auto;
            float: right;
            margin-right: 10px;
            color: black; 
            text-align: right;
    }

        #footermobile {
    display:none;
            }

        #napisfootermobile{
    display:none;
        }

        #nazwiskomobile{
    display:none;
    }
}

    /* dla telefonow */
    @media only screen and (max-width: 768px){

        #footerdesktop {
display:none;
            }

        #napisfooterdesktop{
display:none;
        }

        #nazwiskodesktop{
display:none;
    }

        #footermobile {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: auto;
            background-color: rgb(1,100,140);
            color: white;
            text-align: center;
            font-family: 'Lato', sans-serif;
            z-index: 10; /* powoduje ze footer jest on top - im wyzszy numer tym bardziej on top*/
            }

        #napisfootermobile{
            margin: 0px auto;
            width: auto;
            text-align: center;
        }

        #nazwiskomobile{
            width: auto;
            margin-right: 10px;
            color: black; 
            text-align: center;
    }
}
